@charset "UTF-8";

body{
	font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
}
a{color:black;}

nav{
	font-weight:bold; 
	font-size: 1em;
}
.memberNav{
	font-size: 0.75em;
	padding-right: 1.75em;
}

