<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.ed.cnm.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.ed.cnm.member.MemberFileDTO" alias="MemberFileDTO"/>
		<typeAlias type="com.ed.cnm.board.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.ed.cnm.board.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.ed.cnm.board.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.ed.cnm.board.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="com.ed.cnm.board.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.ed.cnm.board.QnaDTO" alias="QnaDTO"/>
	</typeAliases>
</configuration>