<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ed.cnm.board.community.CommunityDAO">

	<select id="getList" parameterType="boardDTO" resultType="boardDTO">
		select * from
			(select rownum R, C.* from
				(select * from community where
					<choose>
						<when test="kind == 'Title'">
							title
						</when>
						<when test="kind == 'NickName'">
							nickName
						</when>
						<when test="kind == 'Contents'">
							contents
						</when>
						
						<otherwise>
							genre
						</otherwise>
					</choose>
				  like '%' || #{search} || '%' and num>0 order by num desc) C)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		select count(num) from community
		where 
		<choose>
			<when test="kind == 'Title'">
				title
			</when>
			<when test="kind == 'NickName'">
				nickName
			</when>
			<when test="kind == 'Contents'">
				contents
			</when>
			
			<otherwise>
				genre
			</otherwise>
		</choose>
		like '%'||#{search}||'%' and num>0
	</select>
	
	<insert id="setInsert" parameterType="communityDTO">
		INSERT INTO COMMUNITY values(community_seq.nextval, #{nickName}, #{genre}, #{title}, #{contents}, sysdate, 0)
	</insert>

</mapper>