<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ed.cnm.member.MemberDAO">

	<!-- 회원정보수정 -->
	<update id="memberUpdate">
		update member set pw=#{pw}, nickName=#{nickName}, name=#{name}, phone=#{phone}, email=#{email}, couponCheck=#{couponCheck}, point=#{point}, grade=#{grade} where id=#{id}
	</update>
	
	<update id="setFileUpdate" parameterType="MemberFileDTO">
		update memberFile set fileName=#{fileName}, originName=#{originName}) where id=#{id}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType="MemberDTO">
		DELETE MEMBER WHERE id=#{id}
	</delete>
	
	<!-- 아이디 중복 확인 -->
	<select id="checkID" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER WHERE id=#{id}
	</select>

	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="MemberDTO">
		INSERT INTO MEMBER values(#{id}, #{pw}, #{name}, #{name}, #{phone}, #{email}, 'N', 0, 'grade0')
	</insert>
	
	<insert id="setFileInsert" parameterType="MemberFileDTO">
		insert into memberFile values(FN_SEQ.nextval, #{id}, #{fileName}, #{originName})
	</insert>
	
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="MemberDTO" resultMap="memberLoginResult">
		select M.*, MF.* 
		from member M left join memberFile MF
		on M.id = MF.id
		where M.id=#{id} and M.pw=#{pw}
	</select>
	
	<resultMap type="MemberDTO" id="memberLoginResult">
		<id property="id" column="id" />
		<result property="pw" column="pw"/>
		<result property="nickName" column="nickName"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="couponCheck" column="couponCheck"/>
		<result property="point" column="point"/>
		<result property="grade" column="grade"/>
		<association property="memberFileDTO" javaType="MemberFileDTO" resultMap="memberFileResult">

		</association>
	</resultMap>
	
	<resultMap id="memberFileResult" type="MemberFileDTO">
		<id property="num" column="num"/>
		<result property="fileName" column="fileName"/>
		<result property="originName" column="originName"/>
	</resultMap>
	
	<select id="memberLoginFile" resultType="MemberFileDTO" parameterType="MemberDTO" >
		select * from memberFile where id=#{id}
	</select>
	
	<select id="getMemberFile" parameterType="MemberDTO" resultType="MemberFileDTO">
		select fileName from memberFile where id=#{id}
	</select>

</mapper>