<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ed.cnm.member.MemberDAO">


	<!-- 회원정보수정 -->
	<update id="memberUpdate">
		update member set pw=#{pw}, nickName=#{nickName}, name=#{name}, phone=#{phone}, email=#{email}, profilePic=#{profilePic}, couponCheck=#{couponCheck}, point=#{point}, grade=#{grade} where id=#{id}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType="MemberDTO">
		DELETE MEMBER WHERE id=#{id}
	</delete>
	
	<!-- 아이디 중복 확인 -->
	<select id="checkID" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER WHERE id=#{id}
	</select>

	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="MemberDTO">
		INSERT INTO MEMBER values(#{id}, #{pw}, #{name}, #{name}, #{phone}, #{email}, 'N', 0, 'grade0', 'pic')
	</insert>
	
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER WHERE id=#{id} and pw=#{pw}
	</select>

</mapper>